<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd">

	<bean id="car0" class="bean.Car" scope="prototype">
		<property name="brand" value="Audi"></property>
		<property name="crop" value="YiQi"></property>
		<property name="price" value="400000"></property>
	</bean>
	
	<bean id="car1" class="bean.Car">
		<constructor-arg value="huachen" index="1"></constructor-arg>
		<constructor-arg value="500000" index="2"></constructor-arg>
		<constructor-arg value="bmw" index="0"></constructor-arg>
	</bean>
	
	<bean id="car2" class="bean.Car">
		<constructor-arg value="Benz"></constructor-arg>
		<constructor-arg value="MSDS"></constructor-arg>
		<constructor-arg value="300"></constructor-arg>
	</bean>

	<bean id="book" class="bean.Book">
		<property name="isbn">
			<value>1001</value>
		</property>
		<property name="bookName">
			<value><![CDATA[<<java从入门到放弃>>]]></value>
		</property>
	</bean>

	<bean id="person" class="bean.Person">
		<property name="name" value="Tom"></property>
		<property name="car" ref="car1"></property>
	</bean>
	
	<bean id="personInnerBean" class="bean.Person">
		<property name="name" value="Tom"></property>
		<property name="car">
			<bean class="bean.Car">
				<property name="brand" value="Ford"></property>
				<property name="crop" value="ChangAn"></property>
				<property name="price" value="200000"></property>
			</bean>
		</property>
	</bean>
	
	<bean id="personNullAndCascade" class="bean.Person">
		<property name="name" value="Jack"></property>
		<property name="car" ref="car0"></property>
		<property name="car.maxSpeed" value="280"></property>
	</bean>
	
	<bean id="personList" class="bean.PersonList">
		<property name="name" value="Rose"></property>
		<property name="age" value="20"></property>
		<property name="cars" >
			<list>
				<ref bean="car0"/>
				<ref bean="car1"/>
				<ref bean="car2"/>
				<bean class="bean.Car">
					<property name="brand" value="HongQi"></property>
					<property name="crop" value="YiQi"></property>
					<property name="price" value="300000"></property>
					<property name="maxSpeed" value="250"></property>
				</bean>
			</list>
		</property>
	</bean>
	
	<bean id="personMap" class="bean.PersonMap">
		<property name="name" value="张翠山"></property>
		<property name="age" value="50"></property>
		<property name="cars">
			<map>
				<entry key="AA" value-ref="car0"></entry>
				<entry key="BB" value-ref="car1"></entry>
				<entry key="CC" value-ref="car2"></entry>
			</map>
		</property>
	</bean>
	
	<bean id="myDataSource" class="bean.MyDataSource">
		<property name="properties">
			<props>
				<prop key="driverClass">com.mysql.jdbc.Driver</prop>
				<prop key="url">jdbc:mysql://localhost:3306/test</prop>
				<prop key="username">root</prop>
				<prop key="password">1234</prop>
			</props>
		</property>
	</bean>
	 
	<util:list id="listCars">
		<ref bean="car0"/>
		<ref bean="car1"/>
		<ref bean="car2"/>
	</util:list>
	
	<bean id="personList2" class="bean.PersonList"
		p:name="张无忌" p:age="20" p:cars-ref="listCars">
	</bean>
</beans>
